<!--The content below is only a placeholder and can be replaced.-->

<div>
  <label> 
        <input [(ngModel)]="id_select" matInput placeholder="Ingrese ID Producto"><button mat-raised-button color="accent" (click)="doS()">Consultar</button>

       
      
    <h2>ID Producto: {{id2}}</h2> 
    <h2>Precio: {{price2}}</h2> 
    <h2>Descripción: {{description2}}</h2> 
  </label>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button mat-raised-button color="accent"  (click)="do()">Consultar Todo</button>
  <table style="width:100%">
    <tr>
      <td style="border: 1px solid black;">ID</td>
      <td style="border: 1px solid black;">Precio</td>
      <td style="border: 1px solid black;">Producto</td>
    </tr>
    <tr>
      <td>{{id}}</td>
      <td>{{price}}</td>
      <td>{{description}}</td>
    </tr>
  </table>
      
</div>
